/*
Theme Name: Magazine News
Theme URI: http://seosthemes.com/magazine-news/
Author: SEOS
Author URI: http://seosthemes.com/
Description: Magazine News is a modern responsive WordPress theme. The theme has clean and elegant design. The theme is SEO friendly, Cross browser compatible, fully translation ready and is compatible with WooCommerce and all other major plugins. The Magazine News theme is excellent for a news, newspaper, magazine, publishing or other editorial websites. Amazing scroll animations and free Kirki options - Custom CSS, Sidebar Aniamtions, All Google Fonts, Disable All Comments, Mobile call now. To learn more about the theme please go to the theme uri and read the documentation. https://seosthemes.com/magazine-news/
Version: 2.3.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: magazine-news
Tags: one-column, two-columns, right-sidebar, grid-layout, flexible-header, buddypress, custom-background, custom-header, custom-logo, custom-menu, custom-colors, editor-style, featured-image-header, featured-images, full-width-template, footer-widgets, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce, news, portfolio
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Header
# Image Hover Effects
# Links
# Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Footer
# Other
# Media
	## Captions
	## Galleries
# Media Screen	
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}

a:active,
a:hover {
	outline: 0;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

.read-more {
	color: #ADADAD;
	background: #333333;
	padding: 5px 10px 5px 10px;
	font-family: 'Montserrat', sans-serif;
	-webkit-box-shadow: inset -3px 6px 31px -11px rgba(0,0,0,0.24);
    -moz-box-shadow: inset -3px 6px 31px -11px rgba(0,0,0,0.24);
    box-shadow: inset -3px 6px 31px -11px rgba(0,0,0,0.24);
}

.read-more:hover {
		background: #999999;
		color: #fff;
		-webkit-box-shadow: inset 17px 200px 246px -56px rgba(0,0,0,1);
		-moz-box-shadow: inset 17px 200px 246px -56px rgba(0,0,0,1);
		box-shadow: inset 17px 200px 246px -56px rgba(0,0,0,1);
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	background-image: url(images/nav.png);
    color: #FFFFFF;
}

.submit {
	padding: 5px;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #C0C0C0;
}

td,
th {
	padding: 0;
	border: 1px solid #C0C0C0;
	padding: 3px;
}

#page {
	max-width: 1300px;
	margin: 0 auto;
	border: 1px solid #f2f2f2;
	background-repeat: repeat;
	background-attachment: fixed;
	background: #FFFFFF;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-family: 'Roboto','Helvetica Neue',Arial,Verdana,sans-serif;
}


h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 900;
	padding: 10px 0 10px 0;
}

p {
	padding: 0;
}

article p, aside a, main p {
	line-height: 18px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
 q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
	background: #F0F0F0;
	display: inline-block;
	border-left: 4px solid #888;
	padding: 4px;
    font-style: italic;
	word-wrap: break-word;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	color: #FFFFFF;
    background: #E50000;
    box-shadow: inset 0 1px 0 #333333, inset 0 3px 18px #333333, inset 0 -3px 9px #333333;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #E50000;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #FFFFFF;
    background: #E50000;
    box-shadow: inset 0 1px 0 #333333, inset 0 3px 18px #333333, inset 0 -3px 9px #333333;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"]
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea[name="mn-message"]:focus,
textarea:focus {
	color: #111;
    background-color: #FFD800;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"]{
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

input[name="mn-name"],
input[name="mn-phone"],
input[name="mn-email"],
input[name="mn-subject"],
textarea[name="mn-message"] {
    width: 90%;
    background-color: #fff;
    box-shadow: inset 0 0 0 #333333, inset 0 1px 1px #333333, inset 0 0 0 #333333;
	border-radius: 0;
	padding: 8px;
}

textarea[name="mn-message"] {
    padding: 8px;
}

.noselect, .mn-sum {
	border-radius: 0 !important;
	padding: 5px !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header .site-branding {
	padding: 10px 10px 10px 40px;
	float: left;

	display: block;
}

header .site-branding .site-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 53px;
	margin: 0;
	word-wrap: break-word;
	font-weight: 900;
	padding: 10px 0 10px 0;	
}
 
header .site-branding .site-title  a {
 	color: #E50000;
	word-wrap: break-word;
	text-decoration: none;
	-webkit-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
 
header .site-branding .site-title  a:hover {
	color: #E50000;
} 

header  .site-branding .site-description {
	text-align: left;
	color: #222222;
 	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0 0 10px 5px;
}

.dotted-header {
	position: relative;
}

.site-header {
	border-top: 1px solid #7A7A7A;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

.mn-ads {
	border: 1px solid black;
	width: 600px;
	height: 90px;
	float: right;
	margin: 10px;
}

.ads {
	width: 728px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

.ads-header {
	margin-right: 20px;
	display: block;
	right: 0;
	margin-top: 18px;
	text-align: center;
	float: right;
	max-width: 728px;
	overflow: hidden;
}

.ads-footer {
	width: 728px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.social {
    border-bottom: 1px solid #C4C4C4;
    display: block;
	height: 1.6em;
	font-size: 1.5em;
	padding: 1px;
	background: #333333;
    box-shadow: inset 0 0 0 #333333, inset 0 1px 84px #333333, inset 0 0 0 #333333;
    color: #ffffff;
	position: relative;
}

.social .fa-icons {
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	line-height: 1.4em;
	position: absolute;
}
.social .fa-icons i {
	color: #ffffff;
	font-size: 16px;
}

.social .fa-icons i:hover {
    opacity: 0.8;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}

.social .mn-cart a {
	float: right;
	margin: 0;
	color: #fff;
	padding-right: 10px;
	line-height: 1em;
	font-size: 0.6em;
}

.mn-cart {
	padding: 10px;
	margin: 0;
}

.social input {
	color: #FFFFFF !important;
}


.mn-headline {
	width: 100%;
	position: relative;
	min-height: 322px;
	overflow: hidden;
    background: #f2f2f2;
	margin-top: 20px;
}

.mn-headline img {
	margin-bottom: 20px;
	width: 100%;
	height: auto;
    display: inline;
}

.entry-header {
	height: auto;	
}

.entry-header .entry-title {
	padding-top: 0;
}

.mn-excerpt {
	line-height: 18px;
	margin: 0;
	float: none;
}

.img-news {
	margin-bottom: 5px;
	border: 5px solid #fff;
}

.mn-view1 {
   width: 230px;
   height: 200px;
   padding: 0;
   margin: 0;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
}

.mn-view1 .mn-mask1 {
   width: 230px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.mn-view1 img {
   width: 230px;
   height: 200px;
   display: block;
   position: relative;
}

.mn-view1 a.info1 {
   text-decoration: none;
   position: relative;
   color: #fff;
   background-image: url(images/url.png);
   background-repeat: no-repeat;
   z-index: 99999; 
   display: inline-block;
   text-decoration: none;
   padding: 0;
   text-indent: -9999px;
   width: 50px;
   height: 50px;
   right: 15px;
   bottom: 30px;
}

.mn-img-effect1 .mn-mask1 {
   opacity: 0;
   overflow: visible;
   border: 0px solid rgba(0,0,0,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.mn-img-effect1:hover .mn-mask1 {
   opacity: 1;
   border: 100px solid rgba(0,0,0,0.7);
}

.mn-img-effect1:hover a.info1 {
	opacity:1;
	-moz-transform:scale(1.4);
	-webkit-transform:scale(1.4);
	-o-transform:scale(1.4);
	-ms-transform:scale(1.4);
	transform:scale(1.4);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s; 
}

.title-news {
	text-align: center;
	color: #555555;
}

.news-title {
	margin-top: 10px;
	position: absolute;
	z-index: 2;
	font-size: 12px;
	line-height: 16px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 8px;
	width: 100%;
}

.mn-post-type {
	margin: 0 auto;
    width: 100%;
    text-align: center;
}

.mn-post-center {
    vertical-align: top;
    width: 230px;
    font-size: 14px;
    line-height: 20px;
    height: auto;
    text-align: center;
    margin:  0 20px 20px 19px;
    display: inline-block;
}

.mn-center {
	margin: 0 auto;
    width: 100%;
    text-align: center;
}

.mn-headline .headline-content {
	padding: 0px 10px 10px 10px;
	word-wrap: break-word;
}

.mn-headline h3 {
    position: absolute;
    width: 100%;
	padding: 10px;
	font-weight: 900;
	font-size: 35px !important;
	background: rgba(0,0,0,0.6);
}

.mn-headline h3 a {
	color: #FFFFFF;
}

.mn-headline p {
	padding: 0 10px 10px 10px;
	margin: 0;
}

.mn-headline h3 a:hover {
	opacity: 0.8;
}

.mn-headline h4 {
	margin: 0;
	padding: 0 0 10px 10px;
	font-size: 35px;
}

.sm-logo {
	width: 250px;
	height: 90px;
	margin-left: 5px;
}


.mn-view {
   width: 200px;
   height: 150px;
   padding: 0;
   margin: 5px 10px 10px 0;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
}

.mn-view .mn-mask {
   width: 200px;
   height: 150px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.mn-view img {
   width: 200px;
   height: 150px;
   display: inline-block;
   position: relative;
}

.mn-view a.info {
   text-decoration: none;
   padding: 0;
   color: #fff;
   font-family: 'Arial', serif;
   width: 20px;
   height: 20px;
   display: inline-block;
    position: absolute;	
   	z-index: 1;
	width: 200px;
	height: 150px;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.8;
	font-size: 243px;
	background-repeat: no-repeat;	
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	   
}

.mn-img-effect .mn-mask {
   opacity: 0.8;
   overflow: visible;
   border: 0px solid rgba(0,0,0,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.mn-img-effect:hover .mn-mask {
   opacity: 1;
   border: 80px solid rgba(0,0,0,0.8);
}

.mn-view:hover .h-img {
    background-image: url(images/url1.png);
  	background-repeat: no-repeat;
	z-index: 9999999999;
	position: relative;
	opacity: 1;
	width: 200px;
	height: 150px;
	left: 40%;
	top: 40%;
}

.mn-img-effect:hover a.info {
	opacity:1;
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
	position: absolute;
	z-index: 99999;	
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
	color: #555555;
	text-decoration: none;
    font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	color: #7F0000;
}

a:hover,
a:active {
	outline: 0;
}

.postpagination {
	margin-top: 10px;
	width: 100%;
	font-family: 'Montserrat', serif;
}

.pagination a {
	font-size: 14px;
}

.nextpage {
	padding: 10px 0 10px 0;
}

.prevpost {
	float: left;
}

.nextpost {
	float: right;
}

.edit-link {
	padding: 5px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#site-navigation {
	min-height: 50px;
	width: 100%;
	background: #333333;
	border-top: 1px solid #e1e1e1;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	padding-left: 30px;
}

.main-navigation ul {
	position: relative;
	z-index: 999999;
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul li a:hover {
	color: #FFFFFF;
	background: #808080;
}

.main-navigation ul li:hover {
	-webkit-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}

.main-navigation ul li:hover a {
	-webkit-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}

.main-navigation ul li a {
	font-size: 16px;
	display: block;
	text-decoration: none;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
	color: #fff;
	padding: 0px 20px 0px 20px;
	line-height: 4em;
}

.main-navigation ul ul li {
	position: relative;
	min-width: 180px;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 63px;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul ul li{
	top: 0;
	position: relative;
}

.main-navigation ul ul li a {
	background: #222222;
	min-width: 180px;
  	font-size: 12px;
	display: block;
	text-decoration: none;
	line-height: 22px;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
	border-top: 2px solid #3D3D3D;
	border-bottom: 1px solid #000000;
	color: #FFFFFF;
	padding: 12px 23px 12px 23px;
	box-shadow: inset 0 0 0 #333333, inset 0 1px 84px #333333, inset 0 0 0 #333333;
}

.main-navigation ul ul li a:hover {
	color: #FFFFFF;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.social:after,
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.clear {
	content: "";
	clear: both;
	display: block;
	float: none;
}

.menu-toggle:after,
.menu-toggle:before,
.news-widget:after,
.news-widget:before {
	content: "";
	clear: both;
	display: block;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

.tagcloud, #calendar_wrap, .textwidget {
	padding: 10px;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.news-widget {
	text-align: left;
    margin-right: 5px;
	padding-bottom: 5px;
}
.news-widget a {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

.widget_search {
	border: none !important;
	position: relative;
}

.widget_search .search-submit {
	position: absolute;
	right: 0px;
	top: -1px;
}

.widget_search .search-form .search-field{
	width: 100%; 
	margin: 0;

}

.search-form  {
	position: relative;
}

.widget_search .search-form .search-field{
	width: 100%; 
	margin: 0;
	line-height: 17px;
}

.widget-title  {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content main {
	float: left;
	width: 69%;
	padding: 20px 0 20px 40px;
}

.main-full-width {
	width: 100% !important;
	padding: 0px 40px 0px 40px !important;
}

.mn-left-sidebar  {
	float: left;
}

.mn-right-content {
	float: right;
}

.mn-left-content {
	float: left !important;
	padding: 0 0 0 40px !important;
}

.mn-right-sidebar  {
	float: right !important;
	padding: 20px 40px 0 0 !important;
}

article , .entry-content{
    word-wrap: break-word;
}

article header,
article header h1, 
article header h2 {
	margin: 0;
	font-weight: 900;
    font-size: 35px;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
}

article header h1  {
	padding: 10px 0 10px 0;
}

article .fa {
   color: #E50000;
   padding: 3px;
}

article p, aside a {
	line-height: 1.5em;
	font-size: 0.9em;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.no-results {
	padding: 10px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/

#content aside {
	width: 28%;
	padding: 40px 40px 20px 0;
	float: right;
	word-wrap: break-word;
}

#content aside ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 20px 10px 20px;
	background: #f2f2f2;
}

aside ul ul li {
 	padding-left:5px;
}

#content aside h2 {
	background: #333333;
    box-shadow: inset 0 0 0 #333333, inset 0 1px 84px #333333, inset 0 0 0 #333333;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 15px;
}


#content article   {
	display: inline-block;
	width: 100%;
	background: #f2f2f2;
    margin-top: 20px;
	padding: 20px;
}

#content section, .widget-title {
    margin-top: 0;
}

.site-content {
	-moz-box-shadow: inset 0 30px 30px -30px #828282, inset 0 -30px 30px -30px #828282;
    -webkit-box-shadow: inset 0 30px 30px -30px #828282, inset 0 -30px 30px -30px #828282;
    box-shadow: inset 0 30px 30px -30px #828282, inset 0 -30px 30px -30px #828282;	
}

aside section, article {
	background: #FFFFFF;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-reply-title{
	padding-top: 20px;
}

#commentform .comment-form-author label, 
#commentform .comment-form-email label, 
#commentform .comment-form-url label {
	min-width: 250px !important;
}

label {
	width: 150px !important;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: rgba(17,17,17,1);
	padding: 10px;
	color: #ffffff;
	font-size: 11px;	
}

.site-info {
	text-align: center;
}

.site-footer .site-info a {
	color: #ffffff;
}

.site-footer .site-info a:hover {
	opacity: 0.7;

}

.site-footer .search-form input {
	line-height: 19px;
	margin-top: 1px;
}

.entry-footer,
.entry-meta {
	font-size: 12px;
}

.entry-meta a {
	color: #555555;
}

.footer-center {
	margin: 0 auto;
    width: 100%;
	text-align:center;
}

.footer-widgets {
	vertical-align: top;
	width: 20.4%; 
	font-size: 12px;
	line-height: 20px;
	height: auto;
	text-align: left;
	word-wrap: break-word;
    margin: 0 auto;
	padding-top: 20px;
	display: inline-block;
}

.footer-widgets a{
	color: #B5B5B5;
}

.footer-widgets  a:hover {
	color: #FFFFFF;
}

.footer-widgets  .widget-title {
	border: none;
}

.footer-widgets ul {
	list-style-type: none;
	padding: 5px 0 0 0;
	margin: 0 10px 0 0;
}

.footer-widgets ul li{
	padding: 0 0 5px 0;
}

.footer-widgets ul li a {
	width: 100%;
}

.footer-widgets h2{
	margin-top: 20px;
}

.footer-widgets .widget-title {
	color: #fff;
	margin-top: 0;
}

.footer-widgets .widget {
    margin: 0 2.5em 2.5em;
}

.footer-widgets .thumb-news img {
	margin-top: 8px;
}

/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/
.pagination a, .pagination span {
	padding: 4px 8px;
    margin: 0;
    display: inline-block;
    color: #C0C0C0;
	font-size: 15px;
    background-color: #222;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 1px;		
}

.pagination span {
    background-color: #555;
}

.pagination a:hover,
.pagination span:hover {
    color: #fff;	
}

.tags-links a {
	padding: 2px 4px;
    margin: 2px;
    display: inline-block;
    line-height: normal;
    color: #C0C0C0;
	font-size: 10px;
    background-color: #222;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;	
}

.tags-links a:hover {
	color: #fff;
}

header .site-title, .tags-links a, .tags-links,
h1, h2, h3, h4, h5, h6,
nav ul li a,
header .site-description
	{
	font-family: 'Montserrat', sans-serif;
}

.mn-today {
	padding: 10px;
	font-size: 11px;
	font-weight: bold;
}


.mn-news img {
    overflow: hidden;
	width: 270px;
	height: 270px;
	position:relative;
	border: 5px solid #fff;
	box-shadow: 0px 0px 5px #aaa;	
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.thumb-news {
	margin-top: 5px;
}

.thumb-news img {
	float: left;
	width: 100px;
	height: 80px;
	display: block;
    border: 1px solid #C0C0C0;
    margin-right: 5px;
    margin-top: 3px;
    box-shadow: inset 0 0 0 #000000, inset 0 1px 84px #000000, inset 0 0 0 #000000;
	-webkit-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}

.thumb-news img:hover {
	opacity: 0.8;
}

.news-widget-date {
	font-size: 11px;
	margin-top: 5px;
}

.news-widget-title {
	font-size: 0.9em;
	margin-top: 0 !important;
	padding-top: 0 !important;
	line-height: 1em;
}

.wpcf7-submit {
	padding: 5px;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Media Screen
--------------------------------------------------------------*/

@media screen and (min-width: 42.5em) {
	.menu-toggle {
		display: none;
	}
	
	.main-navigation ul {
		display: block;
	}

}

@media screen and (max-width: 50.5em) {
	.ads, .ads-footer {
		overflow: hidden;
		width: 100%;
		padding: 0;
		margin: 0;
	}

}

@media screen and (max-width: 42.5em) {
	.menu li, .menu ul ul li, .menu ul  li a, .menu ul ul li a{
		display: block;
		width: 100%;
		float: none;
		clear: both;
		position: relative;
	}
	
	nav ul li:hover > ul {
		-webkit-animation-name: none !important;
		animation-name: none !important;
		-webkit-transform-origin: none !important;
		transform-origin: none !important;
	}
	
	.slick-prev {
	    left: -10px !important;
		top: 25%;
	}
	
	.slick-next{
		right: -10px !important;
		top: 25%;
	}
	
	#primary, body, #page, #site-navigation, .main-navigation, .mn-headline, .mn-headline h3, #content main, .content-area, main, #main, .site-main, section, article, aside, footer, header, form, #content aside, img, figure, .hentry{
		display: block;
		width: 100% !important;
		float: none;
		clear: both;
		position: static;
		margin: 0 auto !important;		
		padding: 0 !important;
	}	
	
	.search-field {
		width: 93% !important ;
	}
	
	#site-navigation {
		background: #000000;
	}
	
	.menu-toggle {
		background: #B50000;
		color: #fff;
		font-size: 24px;
		border: none;
	}
	
	.menu-toggle ul {
	    display: block;
		position: static;
	}
	
	.slick-slide {
		padding: 0;	
	}
	
	.container-slider h3 {
		font-size: 8px;
	}
	
	.autoplay div img {
		width: 50px;
		height: 30px;
	}
	
	.social .mn-cart, .social  .fa-icons, .social{
		display: block;
		clear: both;
		float: none;
		width: 100%;
		position: static;
		text-align: center;
		margin: 0 auto;
		height: 100%;
		padding: 0;
	}
	
	header .site-branding .site-title  a {
		font-size: 30px !important;

	}
	 
	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
		padding: 30px !important;
	}
	
	.main-navigation ul ul, .main-navigation ul ul ul , .main-navigation ul ul li {
		display: block;
		position: relative;
		float:none;
		position: static;
		clear: both;
	}
	
	.search-form {
		margin-top: 10px !important;
	}

	.main-navigation ul ul li a, .main-navigation ul ul li {
		min-width: 100%;
	}
	
	.social .mn-cart a {
		float: none;
		clear: both;
	}

	main article {
		padding: 20px !important;
	}
		
	.site-info {
		padding-bottom: 10px;
	}
	
	.widget_search .search-form .search-field{
		margin-bottom: 10px;		
	}
}

@media screen and (max-width: 52.5em) {
	.mn-headline h3 a {
		font-size: 4vw !important;
		padding: 10px;
		position: static !important;
	}
}

@media screen and (max-width: 66.5em) {
	.ads-header {
		display: block;
		float: none;
		clear: both;
		position: static;
		max-width: 728px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		overflow: hidden;
		padding-right: 0;
	}
	
	.ads-header  img {
		overflow: hidden;
	}

	header .site-branding  {
		word-wrap: break-word !important;
		max-width: 100% !important;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
		
.container-slider h3 a, .container-slider h3  {
		font-size: 15px !important;
		padding: 4px  !important;
	}
	
	.mn-cart, header .site-branding .site-description {
		position: static !important; 
		width: 100%;
		text-align: center;
	}
	
	.sm-logo {
		padding-left: 0;
	}
	
	header .site-branding {
		padding: 10px;		
	}
	
	footer .footer-widgets, .news-widget {
		width: 100%;
		margin: 0 auto;
		float: none;
		clear: both;
		text-align: center;
		height: auto;
	}	
}